*{
  margin: 0;

}
/* header */
h1.title{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  text-align: center;
}


header{
  background-image: url('../img/pattern.png');
  width: 100%;
  height: 150px;
  background-color: aqua;
}
/* main */
main h2{
  font-family: Impact, Haettenschweiler,Arial, Helvetica, sans-serif
  font-size:50px;
}

main p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

main span{
  color: aquamarine;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;

}

  

section>span{
  background-color: orange;

}

.text,span{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;

}

.lorem{
  background-color: blue;
  margin: 0;
}

th{
  color:#ffff
  


}

.celeste{
  background-color: rgb(147, 191, 218);
}

.acquamarina{
  background-color: rgb(147, 191, 218);
}

th{
  padding: 10px;

}

.left{
  text-align:right;


}
.space{
  text-align:right;


}

.center{
  text-align: right;
  width: 500px;

}

.sit,span{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}


div>h4{
  color: darkgrey;

}
